body {
  background-color: #222222
}
/* .App {
  text-align: center;
  
} */


.Container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.Header {
  width: 100vw;
  height: 100px;
  background-color: #34a5da
  
}


.Container-box {
  /* display: flex;
  justify-content: center; */
  margin-top: 100px;
  height: 60vh;
  width: 65vw;
  background-color: white;
  font-size: 15px;
  align-self: flex-end;
  
}

h1 {
  margin-left: 60px;
  margin-top: 40px
}

.ordered-list {
  font-size: 20px;
  margin-left: 100px;
}

.previous {
  color: white;
  cursor: pointer
}

.next {
  color: white;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-end
}

.home {
  margin-bottom: 10px;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
